<h1>家計簿</h1>
<%= link_to '収入登録', incomes_new_path, class: "btn" %>
<%= link_to '支出登録', outcomes_new_path, class: "btn" %>
<%= link_to '収入費目登録', income_items_new_path, class: "btn" %>
<%= link_to '支出費目登録', outcome_items_new_path, class: "btn" %>
<%= link_to '収入一覧', incomes_index_path, class: "btn" %>
<%= link_to '支出一覧', outcomes_index_path, class: "btn" %>
