<h1>ログイン</h1>
<div class="login-container">
<%= render 'layouts/flash_alert' %>
  <div class="login-form">
  <%= form_for(:session, url: login_path) do |f| %>
　　<%= f.label :email %>
　　<%= f.email_field :email, class: 'form-control', value: "#{@mail}" %>
　　<%= f.label :password %>
　　<%= f.password_field :password, class: 'form-control' %>
　　<%= f.submit "ログイン", class: "btn btn-primary" %>
　<% end %>
　　<p>まだユーザー登録がお済みでない方はこちら <%= link_to "新規登録", signup_path %></p>
　</div>
</div>
