<h1>収入登録</h1>
  <%= form_for @income, url:incomes_create_path  do |f| %>
  <div class="form_group">
    <%= f.label :date, '日付' %>
    <%= f.date_field :date, value: Time.now.strftime("%Y-%m-%d"), class: 'date-form' %>
  </div>
  <div class="form_group">
    <%= f.label :amounts, '収入金額' %>
    <%= f.number_field :amounts, class: 'income-form' %>
  </div>
  <div class="form_group">
    <%= f.label :income_item_id, '収入費目' %>
    <%= f.select :income_item_id, IncomeItem.all.map { |item| [item.title, item.id] }, class: 'income-item-form' %>
  </div>
  <div class="form_group">
    <%= f.label :note, '備考メモ' %>
    <%= f.text_field :note, class: 'income-note' %>
  </div>
  <div class="btn-block">
    <%= link_to 'トップページへ戻る', top_index_path, class: "btn" %>
    <%= f.submit '登録', class: "btn" %>
  </div>
  <% end %>
