<h1>編集</h1>
  <%= form_for @outcome, url: outcome_path, method: :patch  do |f| %>
  <div class="form_group">
    <%= f.label :date, '日付' %>
    <%= f.date_field :date, value: Time.now.strftime("%Y-%m-%d"), class: 'date-form' %>
  </div>
  <div class="form_group">
    <%= f.label :amounts, '支出金額' %>
    <%= f.number_field :amounts, class: 'outcome-form' %>
  </div>
  <div class="form_group">
    <%= f.label :outcome_item_id, '支出費目' %>
    <%= f.select :outcome_item_id, OutcomeItem.all.map { |item| [item.title, item.id] }, class: 'outcome-item-form' %>
  </div>
  <div class="form_group">
    <%= f.label :note, '備考メモ' %>
    <%= f.text_field :note, class: 'outcome-note' %>
  </div>
  <div class="btn-block">
    <%= link_to 'トップページへ戻る', top_index_path, class: "btn" %>
    <%= f.submit '編集', class: "btn" %>
  </div>
  <% end %>
