<h1>支出一覧</h1>
<div class="index">
  <div class="search">
    <div class="search-box">
      <%= form_tag(outcomes_index_path, :method => 'get') do %>
        <div class="search-group">
          <%= label :date, '期間検索' %>
          <%= date_field_tag :start_date %>
          <%= label :date, '〜' %>
          <%= date_field_tag :end_date %>
          <%= submit_tag 'Search' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="period">
    <% if @start_date || @end_date %>
    <%= "#{@start_date}" %> 〜 <%= "#{@end_date}" %> の支出一覧
    <% else %>
    <%= Date.today.month %>月の支出一覧
    <% end %>
  </div>
  <table class="outcomes-index">
    <thead class="table-head">
      <tr>
        <th class="head-date">日付</th>
        <th class="head-item">支出費目</th>
        <th class="head-amount">支出金額</th>
        <th class="head-note">備考</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <% @outcomes.each do |outcome| %>
      <tr>
        <th class="table-date"><%= outcome.date %></th>
        <th class="table-item"><%= outcome.outcome_item.title %></th>
        <th class="table-amount"><%= outcome.amounts %>円</th>
        <th class="table-note"><%= outcome.note %></th>
      </tr>
      <% end %>
      <tr>
        <th>今月の合計支出</th>
        <th></th>
        <th><%= @sum %>円</th>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to 'トップページに戻る', top_index_path %>
